.App {
  cursor: default;
}

.navbar { grid-area: navbar; }
.sidebar { grid-area: sidebar; }
.logo {grid-area:logo; }
.login {grid-area: login; }
.main { grid-area: main; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container{
  display: grid;
  grid-template-areas: 
    'sidebar logo logo logo logo login'
    'sidebar main main main right right'
    'sidebar footer footer footer footer footer';

}

.sidebar {
  background-color: #505257;
  min-height: 100vh;
  grid-area: sidebar;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
  padding: 10px;
  grid-gap: 0px;
}

.logo, .login{
  text-align: justify;
  background-color: #505257;
  color: white;
  padding: 10px;
  grid-gap: 0px;
}
  .logo{
    grid-area: logo;
    display: inline;
    justify-content: center;
    font-size: 35pt;
    font-weight: bolder;
  }
  .login{
    display: flex;
    align-items: center;
    grid-area: login;
    font-size: 20pt;
    background-position: center;
  }

ul{
  list-style: none;
}

li:hover{
  opacity: .5;
}


